.banner {
    background-image: url(../img/Banner_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 13rem;
    color: var(--blanco);
    /* padding-left: 6.5rem; */
    position: relative;
}

.banner__division {
    position: absolute;
    bottom: 0px;
    padding-bottom: .7rem;
}

.banner__division__titulo{
    padding-bottom: .5rem;
    font-size: 3rem;
    font-weight: 500;
  }
.banner__division__descripcion{
    padding-bottom: .5rem;
    font-size: 1rem;
  }

  @media (min-width: 968px){
    .banner__division{
      
    }
  }

  @media (min-width: 768px){
    .banner__division{
      margin-left: 3rem;
    }
  }